<!-- show receipt_item name and price -->
<div id="<%= dom_id @receipt_item %>" class="relative border border-gray-700 rounded-lg p-4 bg-gray-800 hover:shadow-md hover:shadow-gray-900/50 transition-shadow">
  <div class="flex justify-between items-start">
    <div>
      <h3 class="font-medium text-lg"><%= @receipt_item.name %></h3>
    </div>
  </div>
</div>
