<div id="<%= dom_id favourite %>" class="w-full border border-gray-700 rounded-lg p-6 space-y-4 bg-gray-800 hover:shadow-md hover:shadow-gray-900/50 transition-shadow">
  <div>
    <%= favourite.name %>
  </div>
</div>
