<div id="<%= dom_id meal %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= meal.name %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Ingredients:</strong>
    <% if meal.meal_ingredients.any? %>
      <ul class="list-disc list-inside text-gray-700">
        <% meal.meal_ingredients.includes(:ingredient).each do |meal_ingredient| %>
          <li>
            <%= link_to meal_ingredient.ingredient.name, ingredient_path(meal_ingredient.ingredient), class: "text-blue-600 hover:text-blue-500 underline" %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <span class="text-gray-500">No ingredients added</span>
    <% end %>
  </div>
</div>
